.routes {
  background-color: black;
  color: white !important; }

.ant-typography {
  color: white !important; }

.ant-statistic > * {
  color: white !important; }

.ant-card-head-title {
  color: white !important; }

.ant-card {
  background-color: black !important; }

p {
  color: white !important; }
