$dark: rgb(43, 38, 38);
$color: white;

.dark {
  .ant-typography {
    color: $color !important;
  }
  .routes {
    background-color: $dark !important;
  }

  .ant-typography {
    color: $color !important;
  }

  .ant-statistic > * {
    color: $color !important;
  }

  .ant-card-head-title {
    color: $color !important;
  }

  .ant-card {
    background-color: $dark !important;
  }

  p {
    color: $color !important;
  }
}
